window.xfce4-panel widget > box > button > image{
   padding: 0.2em 0.16em;  -gtk-icon-transform: scale(0.8);
}

window#whiskermenu-window treeview>* {
  padding:0.2em 0.16em;
}

#xfce4-notification-plugin image {
	-gtk-icon-transform: scale(0.85) translateY(3px);
    color: #c4a7e7;
}

#pulseaudio-button image {
	-gtk-icon-transform: scale(0.9);
    color: #c4a7e7;
}

#xfce4-power-manager-plugin image {
	-gtk-icon-transform: scale(0.75);
    color: #c4a7e7;
}

VteTerminal, vte-terminal {
    padding: 13px;
}

#clock-button {
    color: #c4a7e7;
}

#xkb-7 button {
    color: #c4a7e7;
}

#pager-4 #xfce-panel-toggle-button:checked {
    color: #ebbcba;
}

#pager-4 button:checked, #pager-4 button:active{
    box-shadow: none;
}

#pager-4, #xfce-panel-toggle-button:hover {
    color: #c4a7e7;
    background-color: #26233a;
}

.tasklist > * > box {
    color: #c4a7e7;
}
